@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-action="Index" asp-controller="Employees" class="btn btn-primary">Employees</a>
    <a asp-action="Index" asp-controller="Project" class="btn btn-primary">Projects</a>
    <a asp-action="Add" asp-controller="Assignments" class="btn btn-dark">Register Employees to Projects</a>

</div>



